<a href="https://colab.research.google.com/github/benvictoria21/python-stock-/blob/master/Instructure%2C_Inc_(INST).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=0d5ff916944115e567a7ed45ac7f79d42830e62af8fde19f8667b64b1440a881
  Stored in directory: /root/.cache/pip/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import yfinance

In [6]:
INST = pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/INST?period1=1565652691&period2=1597275091&interval=1d&events=history")

INST

           Date       Open       High  ...      Close  Adj Close    Volume
0    2019-08-12  40.770000  40.950001  ...  39.730000  39.730000  652415.0
1    2019-08-13  39.500000  40.465000  ...  40.180000  40.180000  420547.0
2    2019-08-14  39.500000  40.570000  ...  40.110001  40.110001  345393.0
3    2019-08-15  40.200001  41.200001  ...  41.080002  41.080002  375171.0
4    2019-08-16  41.250000  42.099998  ...  41.830002  41.830002  289584.0
..          ...        ...        ...  ...        ...        ...       ...
248  2020-08-05        NaN        NaN  ...        NaN        NaN       NaN
249  2020-08-06        NaN        NaN  ...        NaN        NaN       NaN
250  2020-08-07        NaN        NaN  ...        NaN        NaN       NaN
251  2020-08-10        NaN        NaN  ...        NaN        NaN       NaN
252  2020-08-11        NaN        NaN  ...        NaN        NaN       NaN

[253 rows x 7 columns]

In [8]:
INST.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-08-12  40.770000  40.950001  39.380001  39.730000  39.730000  652415.0
1  2019-08-13  39.500000  40.465000  39.500000  40.180000  40.180000  420547.0
2  2019-08-14  39.500000  40.570000  39.450001  40.110001  40.110001  345393.0
3  2019-08-15  40.200001  41.200001  39.935001  41.080002  41.080002  375171.0
4  2019-08-16  41.250000  42.099998  41.250000  41.830002  41.830002  289584.0

In [9]:
INST.tail()

           Date  Open  High  Low  Close  Adj Close  Volume
248  2020-08-05   NaN   NaN  NaN    NaN        NaN     NaN
249  2020-08-06   NaN   NaN  NaN    NaN        NaN     NaN
250  2020-08-07   NaN   NaN  NaN    NaN        NaN     NaN
251  2020-08-10   NaN   NaN  NaN    NaN        NaN     NaN
252  2020-08-11   NaN   NaN  NaN    NaN        NaN     NaN

In [10]:
INST.describe()

             Open        High         Low       Close   Adj Close        Volume
count  155.000000  155.000000  155.000000  155.000000  155.000000  1.550000e+02
mean    45.783355   46.270026   45.358410   45.839742   45.839742  9.484766e+05
std      4.319362    4.218446    4.420264    4.313717    4.313717  1.358620e+06
min     37.270000   38.474998   37.060001   37.230000   37.230000  8.839000e+04
25%     41.515000   42.274999   41.010001   41.820002   41.820002  3.504280e+05
50%     47.799999   48.000000   47.610001   47.709999   47.709999  5.217410e+05
75%     48.614999   48.815000   48.340000   48.745001   48.745001  1.114612e+06
max     54.000000   54.310001   52.970001   53.689999   53.689999  1.168770e+07

In [11]:
import sqlite3

In [12]:
conn = sqlite3.connect("INST.db")
c = conn.cursor()

In [13]:
conn = sqlite3.connect("INST.db")
c = conn.cursor()

In [14]:
INST.to_sql("INST", conn, if_exists='replace')

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [15]:
#See data
c.execute("""SELECT * FROM INST""")
rows = c.fetchall()
rows

[(0, '2019-08-12', 40.77, 40.950001, 39.380001, 39.73, 39.73, 652415.0),
 (1, '2019-08-13', 39.5, 40.465, 39.5, 40.18, 40.18, 420547.0),
 (2,
  '2019-08-14',
  39.5,
  40.57,
  39.450001,
  40.110001000000004,
  40.110001000000004,
  345393.0),
 (3,
  '2019-08-15',
  40.200001,
  41.200001,
  39.935001,
  41.080002,
  41.080002,
  375171.0),
 (4, '2019-08-16', 41.25, 42.099998, 41.25, 41.830002, 41.830002, 289584.0),
 (5,
  '2019-08-19',
  42.349998,
  43.299999,
  42.189999,
  42.709998999999996,
  42.709998999999996,
  417818.0),
 (6,
  '2019-08-20',
  42.580002,
  43.540001000000004,
  42.209998999999996,
  43.310001,
  43.310001,
  403513.0),
 (7, '2019-08-21', 43.48, 44.07, 42.450001, 42.869999, 42.869999, 343567.0),
 (8,
  '2019-08-22',
  42.990002000000004,
  43.259997999999996,
  42.220001,
  42.799999,
  42.799999,
  351747.0),
 (9,
  '2019-08-23',
  42.709998999999996,
  43.205002,
  41.75,
  41.919998,
  41.919998,
  229889.0),
 (10,
  '2019-08-26',
  42.360001000000004,
  42.450001,
  41.25,
  41.970001,
  41.970001,
  281376.0),
 (11,
  '2019-08-27',
  42.369999,
  42.369999,
  40.900002,
  41.200001,
  41.200001,
  219171.0),
 (12, '2019-08-28', 40.91, 40.91, 39.779999, 40.09, 40.09, 187644.0),
 (13,
  '2019-08-29',
  40.41,
  41.349998,
  40.049999,
  41.080002,
  41.080002,
  216232.0),
 (14,
  '2019-08-30',
  41.110001000000004,
  41.529999,
  40.380001,
  41.360001000000004,
  41.360001000000004,
  373789.0),
 (15,
  '2019-09-03',
  40.970001,
  41.599998,
  40.619999,
  40.810001,
  40.810001,
  402040.0),
 (16,
  '2019-09-04',
  41.099998,
  41.450001,
  39.485001000000004,
  39.549999,
  39.549999,
  337584.0),
 (17, '2019-09-05', 39.73, 40.439999, 39.400002, 40.0, 40.0, 216323.0),
 (18,
  '2019-09-06',
  40.040001000000004,
  40.189999,
  38.799999,
  38.860001000000004,
  38.860001000000004,
  254210.0),
 (19, '2019-09-09', 38.900002, 38.994999, 38.099998, 38.41, 38.41, 527046.0),
 (20,
  '2019-09-10',
  38.110001000000004,
  39.09,
  37.709998999999996,
  38.189999,
  38.189999,
  367813.0),
 (21,
  '2019-09-11',
  38.060001,
  40.25,
  37.790001000000004,
  39.459998999999996,
  39.459998999999996,
  526173.0),
 (22,
  '2019-09-12',
  39.490002000000004,
  39.779999,
  39.09,
  39.560001,
  39.560001,
  279510.0),
 (23,
  '2019-09-13',
  39.41,
  39.790001000000004,
  39.18,
  39.369999,
  39.369999,
  231373.0),
 (24,
  '2019-09-16',
  38.889998999999996,
  40.150002,
  38.889998999999996,
  39.599998,
  39.599998,
  216134.0),
 (25,
  '2019-09-17',
  39.599998,
  39.779999,
  38.939999,
  39.389998999999996,
  39.389998999999996,
  240263.0),
 (26, '2019-09-18', 39.330002, 39.330002, 38.470001, 39.02, 39.02, 225883.0),
 (27, '2019-09-19', 39.25, 40.0, 38.889998999999996, 39.23, 39.23, 335815.0),
 (28,
  '2019-09-20',
  39.209998999999996,
  39.939999,
  38.82,
  39.040001000000004,
  39.040001000000004,
  358307.0),
 (29,
  '2019-09-23',
  38.970001,
  39.330002,
  37.759997999999996,
  38.080002,
  38.080002,
  336664.0),
 (30,
  '2019-09-24',
  38.18,
  38.540001000000004,
  37.060001,
  37.23,
  37.23,
  440157.0),
 (31,
  '2019-09-25',
  37.27,
  38.474998,
  37.099998,
  38.299999,
  38.299999,
  266005.0),
 (32,
  '2019-09-26',
  38.189999,
  38.84,
  38.110001000000004,
  38.720001,
  38.720001,
  483552.0),
 (33,
  '2019-09-27',
  38.84,
  38.919998,
  38.110001000000004,
  38.68,
  38.68,
  505328.0),
 (34,
  '2019-09-30',
  38.73,
  39.200001,
  38.029999,
  38.740002000000004,
  38.740002000000004,
  381170.0),
 (35,
  '2019-10-01',
  38.919998,
  39.150002,
  38.18,
  38.580002,
  38.580002,
  345638.0),
 (36,
  '2019-10-02',
  38.240002000000004,
  38.810001,
  38.0,
  38.52,
  38.52,
  292956.0),
 (37,
  '2019-10-03',
  38.549999,
  39.0,
  37.93,
  38.759997999999996,
  38.759997999999996,
  630801.0),
 (38,
  '2019-10-04',
  39.189999,
  40.150002,
  38.720001,
  40.119999,
  40.119999,
  259446.0),
 (39,
  '2019-10-07',
  40.09,
  41.209998999999996,
  39.93,
  40.919998,
  40.919998,
  269097.0),
 (40,
  '2019-10-08',
  40.57,
  41.25,
  39.959998999999996,
  41.060001,
  41.060001,
  425100.0),
 (41,
  '2019-10-09',
  41.380001,
  41.959998999999996,
  41.050301,
  41.299999,
  41.299999,
  639381.0),
 (42, '2019-10-10', 41.34, 42.18, 40.98, 42.0, 42.0, 967405.0),
 (43, '2019-10-11', 42.43, 42.75, 41.439999, 41.48, 41.48, 507280.0),
 (44,
  '2019-10-14',
  41.41,
  41.41,
  40.259997999999996,
  40.860001000000004,
  40.860001000000004,
  198417.0),
 (45,
  '2019-10-15',
  40.860001000000004,
  42.02,
  40.740002000000004,
  41.810001,
  41.810001,
  406510.0),
 (46,
  '2019-10-16',
  41.619999,
  41.709998999999996,
  40.900002,
  41.290001000000004,
  41.290001000000004,
  309430.0),
 (47,
  '2019-10-17',
  41.32,
  42.810001,
  40.299999,
  42.439999,
  42.439999,
  351006.0),
 (48,
  '2019-10-18',
  42.290001000000004,
  43.110001000000004,
  41.720001,
  42.93,
  42.93,
  514070.0),
 (49,
  '2019-10-21',
  43.200001,
  43.459998999999996,
  42.169998,
  42.169998,
  42.169998,
  594878.0),
 (50,
  '2019-10-22',
  42.240002000000004,
  42.389998999999996,
  41.650002,
  42.139998999999996,
  42.139998999999996,
  352782.0),
 (51, '2019-10-23', 42.0, 43.195, 41.869999, 42.43, 42.43, 377598.0),
 (52,
  '2019-10-24',
  42.740002000000004,
  44.264998999999996,
  42.740002000000004,
  43.549999,
  43.549999,
  643361.0),
 (53,
  '2019-10-25',
  43.349998,
  43.82,
  43.150002,
  43.439999,
  43.439999,
  327150.0),
 (54,
  '2019-10-28',
  43.5,
  43.599998,
  42.080002,
  42.439999,
  42.439999,
  630573.0),
 (55,
  '2019-10-29',
  41.73,
  44.970001,
  41.040001000000004,
  44.77,
  44.77,
  1416456.0),
 (56,
  '2019-10-30',
  44.610001000000004,
  45.290001000000004,
  44.060001,
  44.59,
  44.59,
  439936.0),
 (57, '2019-10-31', 44.18, 47.400002, 43.310001, 46.73, 46.73, 1432889.0),
 (58,
  '2019-11-01',
  46.740002000000004,
  47.509997999999996,
  45.970001,
  46.52,
  46.52,
  644114.0),
 (59,
  '2019-11-04',
  47.049999,
  47.559399,
  46.334998999999996,
  46.5,
  46.5,
  340906.0),
 (60,
  '2019-11-05',
  46.799999,
  46.900002,
  46.049999,
  46.459998999999996,
  46.459998999999996,
  426293.0),
 (61,
  '2019-11-06',
  46.5,
  46.91,
  45.939999,
  46.139998999999996,
  46.139998999999996,
  352758.0),
 (62, '2019-11-07', 46.59, 47.599998, 46.32, 47.349998, 47.349998, 675791.0),
 (63, '2019-11-08', 47.32, 48.0, 47.189999, 47.630001, 47.630001, 478810.0),
 (64,
  '2019-11-11',
  47.419998,
  47.6539,
  47.040001000000004,
  47.48,
  47.48,
  487417.0),
 (65, '2019-11-12', 47.5, 48.34, 47.43, 47.93, 47.93, 369042.0),
 (66,
  '2019-11-13',
  47.650002,
  51.990002000000004,
  47.450001,
  50.439999,
  50.439999,
  1556936.0),
 (67, '2019-11-14', 51.919998, 53.330002, 51.029999, 52.73, 52.73, 1152651.0),
 (68,
  '2019-11-15',
  53.139998999999996,
  53.139998999999996,
  52.189999,
  52.98,
  52.98,
  522705.0),
 (69, '2019-11-18', 53.0, 53.950001, 52.52, 53.689999, 53.689999, 539156.0),
 (70,
  '2019-11-19',
  54.0,
  54.310001,
  52.970001,
  53.009997999999996,
  53.009997999999996,
  413330.0),
 (71, '2019-11-20', 53.009997999999996, 53.93, 52.91, 53.34, 53.34, 504887.0),
 (72,
  '2019-11-21',
  53.610001000000004,
  53.75,
  52.752701,
  52.900002,
  52.900002,
  494748.0),
 (73,
  '2019-11-22',
  53.209998999999996,
  53.220001,
  52.57,
  52.98,
  52.98,
  317309.0),
 (74,
  '2019-11-25',
  53.25,
  53.610001000000004,
  52.740002000000004,
  53.169998,
  53.169998,
  273110.0),
 (75,
  '2019-11-26',
  53.310001,
  53.860001000000004,
  52.43,
  52.580002,
  52.580002,
  424385.0),
 (76,
  '2019-11-27',
  52.740002000000004,
  53.040001000000004,
  52.389998999999996,
  53.029999,
  53.029999,
  276604.0),
 (77,
  '2019-11-29',
  52.740002000000004,
  53.27,
  52.494999,
  53.240002000000004,
  53.240002000000004,
  115345.0),
 (78, '2019-12-02', 52.98, 52.98, 51.48, 52.52, 52.52, 545134.0),
 (79,
  '2019-12-03',
  51.860001000000004,
  53.610001000000004,
  51.860001000000004,
  52.959998999999996,
  52.959998999999996,
  338835.0),
 (80, '2019-12-04', 47.98, 49.41, 47.799999, 48.75, 48.75, 11687695.0),
 (81,
  '2019-12-05',
  48.299999,
  48.830002,
  48.16,
  48.790001000000004,
  48.790001000000004,
  3886457.0),
 (82,
  '2019-12-06',
  48.369999,
  49.34,
  48.310001,
  49.119999,
  49.119999,
  2536705.0),
 (83,
  '2019-12-09',
  49.049999,
  49.25,
  48.795502,
  48.900002,
  48.900002,
  1255675.0),
 (84,
  '2019-12-10',
  49.02,
  49.035,
  48.490002000000004,
  48.509997999999996,
  48.509997999999996,
  892155.0),
 (85,
  '2019-12-11',
  48.509997999999996,
  48.650002,
  48.240002000000004,
  48.279999,
  48.279999,
  641041.0),
 (86, '2019-12-12', 48.299999, 48.455002, 47.830002, 48.0, 48.0, 623244.0),
 (87,
  '2019-12-13',
  48.099998,
  48.369999,
  47.860001000000004,
  48.0,
  48.0,
  819100.0),
 (88, '2019-12-16', 48.029999, 48.169998, 47.970001, 48.0, 48.0, 294386.0),
 (89,
  '2019-12-17',
  48.009997999999996,
  48.580002,
  48.0,
  48.400002,
  48.400002,
  666063.0),
 (90,
  '2019-12-18',
  48.400002,
  48.900002,
  48.299999,
  48.529999,
  48.529999,
  506062.0),
 (91,
  '2019-12-19',
  48.66,
  48.865002000000004,
  48.59,
  48.849998,
  48.849998,
  349850.0),
 (92, '2019-12-20', 48.970001, 49.16, 48.689999, 49.16, 49.16, 448967.0),
 (93,
  '2019-12-23',
  49.209998999999996,
  49.66,
  48.279999,
  48.599998,
  48.599998,
  831966.0),
 (94,
  '2019-12-24',
  48.57,
  48.799999,
  48.509997999999996,
  48.599998,
  48.599998,
  88390.0),
 (95,
  '2019-12-26',
  48.630001,
  48.799999,
  48.509997999999996,
  48.639998999999996,
  48.639998999999996,
  219020.0),
 (96, '2019-12-27', 48.66, 48.66, 48.119999, 48.419998, 48.419998, 198124.0),
 (97, '2019-12-30', 48.48, 48.48, 48.02, 48.299999, 48.299999, 214854.0),
 (98,
  '2019-12-31',
  48.259997999999996,
  48.799999,
  48.060001,
  48.209998999999996,
  48.209998999999996,
  137290.0),
 (99, '2020-01-02', 48.43, 48.43, 48.009997999999996, 48.02, 48.02, 708258.0),
 (100,
  '2020-01-03',
  47.900002,
  48.18,
  47.869999,
  47.990002000000004,
  47.990002000000004,
  611550.0),
 (101,
  '2020-01-06',
  47.900002,
  48.279999,
  47.709998999999996,
  48.220001,
  48.220001,
  524309.0),
 (102,
  '2020-01-07',
  48.16,
  48.91,
  48.009997999999996,
  48.759997999999996,
  48.759997999999996,
  1189756.0),
 (103,
  '2020-01-08',
  48.599998,
  48.700001,
  48.099998,
  48.150002,
  48.150002,
  922123.0),
 (104,
  '2020-01-09',
  47.82,
  48.099998,
  47.349998,
  47.790001000000004,
  47.790001000000004,
  3384306.0),
 (105,
  '2020-01-10',
  47.900002,
  48.0,
  47.759997999999996,
  47.98,
  47.98,
  1038738.0),
 (106,
  '2020-01-13',
  48.099998,
  48.470001,
  47.639998999999996,
  47.709998999999996,
  47.709998999999996,
  1130588.0),
 (107,
  '2020-01-14',
  47.66,
  47.830002,
  47.610001000000004,
  47.66,
  47.66,
  756298.0),
 (108,
  '2020-01-15',
  47.650002,
  47.830002,
  47.619999,
  47.700001,
  47.700001,
  1365594.0),
 (109,
  '2020-01-16',
  47.77,
  47.849998,
  47.66,
  47.709998999999996,
  47.709998999999996,
  457880.0),
 (110,
  '2020-01-17',
  47.849998,
  47.869999,
  47.669998,
  47.689999,
  47.689999,
  519292.0),
 (111,
  '2020-01-21',
  47.700001,
  47.73,
  47.610001000000004,
  47.709998999999996,
  47.709998999999996,
  477825.0),
 (112,
  '2020-01-22',
  47.810001,
  47.869999,
  47.650002,
  47.860001000000004,
  47.860001000000004,
  1234985.0),
 (113,
  '2020-01-23',
  47.799999,
  47.939999,
  47.669998,
  47.700001,
  47.700001,
  960244.0),
 (114,
  '2020-01-24',
  47.799999,
  47.869999,
  47.709998999999996,
  47.84,
  47.84,
  1437484.0),
 (115, '2020-01-27', 48.049999, 48.23, 47.799999, 47.98, 47.98, 1494934.0),
 (116,
  '2020-01-28',
  48.150002,
  48.150002,
  47.669998,
  47.779999,
  47.779999,
  573687.0),
 (117,
  '2020-01-29',
  47.759997999999996,
  48.299999,
  47.599998,
  48.299999,
  48.299999,
  773277.0),
 (118,
  '2020-01-30',
  48.299999,
  48.639998999999996,
  48.139998999999996,
  48.48,
  48.48,
  521741.0),
 (119, '2020-01-31', 48.419998, 48.904999, 48.150002, 48.84, 48.84, 575449.0),
 (120,
  '2020-02-03',
  48.849998,
  48.849998,
  48.240002000000004,
  48.540001000000004,
  48.540001000000004,
  371600.0),
 (121, '2020-02-04', 48.599998, 48.799999, 47.439999, 48.07, 48.07, 650845.0),
 (122, '2020-02-05', 48.130001, 48.869999, 47.669998, 47.75, 47.75, 1510548.0),
 (123,
  '2020-02-06',
  47.849998,
  48.0,
  47.73,
  47.860001000000004,
  47.860001000000004,
  601288.0),
 (124, '2020-02-07', 47.900002, 47.950001, 47.439999, 47.57, 47.57, 1053320.0),
 (125,
  '2020-02-10',
  47.57,
  47.650002,
  47.470001,
  47.509997999999996,
  47.509997999999996,
  392025.0),
 (126,
  '2020-02-11',
  47.57,
  47.619999,
  47.285,
  47.619999,
  47.619999,
  1159029.0),
 (127,
  '2020-02-12',
  47.619999,
  47.639998999999996,
  47.02,
  47.34,
  47.34,
  1413928.0),
 (128,
  '2020-02-13',
  46.459998999999996,
  46.970001,
  45.450001,
  45.959998999999996,
  45.959998999999996,
  4867527.0),
 (129, '2020-02-14', 47.900002, 48.200001, 47.279999, 47.66, 47.66, 9216923.0),
 (130,
  '2020-02-18',
  48.650002,
  48.75,
  48.599998,
  48.740002000000004,
  48.740002000000004,
  4714486.0),
 (131,
  '2020-02-19',
  48.740002000000004,
  48.84,
  48.740002000000004,
  48.810001,
  48.810001,
  1653982.0),
 (132,
  '2020-02-20',
  48.84,
  48.950001,
  48.810001,
  48.830002,
  48.830002,
  367209.0),
 (133,
  '2020-02-21',
  48.869999,
  48.889998999999996,
  48.830002,
  48.830002,
  48.830002,
  2989931.0),
 (134,
  '2020-02-24',
  48.700001,
  48.880001,
  48.700001,
  48.799999,
  48.799999,
  1147137.0),
 (135,
  '2020-02-25',
  48.799999,
  48.860001000000004,
  48.720001,
  48.75,
  48.75,
  1746760.0),
 (136,
  '2020-02-26',
  48.75,
  48.810001,
  48.75,
  48.790001000000004,
  48.790001000000004,
  1005983.0),
 (137,
  '2020-02-27',
  48.75,
  48.799999,
  48.709998999999996,
  48.75,
  48.75,
  1837763.0),
 (138,
  '2020-02-28',
  48.59,
  48.759997999999996,
  48.509997999999996,
  48.759997999999996,
  48.759997999999996,
  2971396.0),
 (139, '2020-03-02', 48.75, 48.799999, 48.73, 48.799999, 48.799999, 2281266.0),
 (140,
  '2020-03-03',
  48.779999,
  48.82,
  48.75,
  48.790001000000004,
  48.790001000000004,
  1559410.0),
 (141,
  '2020-03-04',
  48.790001000000004,
  48.849998,
  48.779999,
  48.799999,
  48.799999,
  1098635.0),
 (142,
  '2020-03-05',
  48.779999,
  48.82,
  48.740002000000004,
  48.77,
  48.77,
  2441247.0),
 (143,
  '2020-03-06',
  48.75,
  48.750702000000004,
  48.560001,
  48.689999,
  48.689999,
  1735344.0),
 (144,
  '2020-03-09',
  48.700001,
  48.77,
  48.509997999999996,
  48.619999,
  48.619999,
  1792436.0),
 (145,
  '2020-03-10',
  48.66,
  48.790001000000004,
  48.619999,
  48.779999,
  48.779999,
  2061731.0),
 (146,
  '2020-03-11',
  48.759997999999996,
  48.830002,
  48.73,
  48.740002000000004,
  48.740002000000004,
  1361288.0),
 (147,
  '2020-03-12',
  48.779999,
  48.779999,
  48.0,
  48.349998,
  48.349998,
  1936848.0),
 (148,
  '2020-03-13',
  48.400002,
  48.799999,
  48.400002,
  48.799999,
  48.799999,
  1630741.0),
 (149,
  '2020-03-16',
  48.23,
  48.799999,
  47.779999,
  48.049999,
  48.049999,
  1010825.0),
 (150,
  '2020-03-17',
  48.209998999999996,
  49.080002,
  48.080002,
  48.779999,
  48.779999,
  1253498.0),
 (151,
  '2020-03-18',
  48.259997999999996,
  48.669998,
  47.779999,
  47.889998999999996,
  47.889998999999996,
  1018241.0),
 (152, '2020-03-19', 48.099998, 48.599998, 47.5, 48.25, 48.25, 1259929.0),
 (153,
  '2020-03-20',
  48.369999,
  48.919998,
  48.369999,
  48.790001000000004,
  48.790001000000004,
  1532249.0),
 (154,
  '2020-03-23',
  49.060001,
  49.650002,
  48.990002000000004,
  49.0,
  49.0,
  791512.0),
 (155, '2020-03-24', None, None, None, None, None, None),
 (156, '2020-03-25', None, None, None, None, None, None),
 (157, '2020-03-26', None, None, None, None, None, None),
 (158, '2020-03-27', None, None, None, None, None, None),
 (159, '2020-03-30', None, None, None, None, None, None),
 (160, '2020-03-31', None, None, None, None, None, None),
 (161, '2020-04-01', None, None, None, None, None, None),
 (162, '2020-04-02', None, None, None, None, None, None),
 (163, '2020-04-03', None, None, None, None, None, None),
 (164, '2020-04-06', None, None, None, None, None, None),
 (165, '2020-04-07', None, None, None, None, None, None),
 (166, '2020-04-08', None, None, None, None, None, None),
 (167, '2020-04-09', None, None, None, None, None, None),
 (168, '2020-04-13', None, None, None, None, None, None),
 (169, '2020-04-14', None, None, None, None, None, None),
 (170, '2020-04-15', None, None, None, None, None, None),
 (171, '2020-04-16', None, None, None, None, None, None),
 (172, '2020-04-17', None, None, None, None, None, None),
 (173, '2020-04-20', None, None, None, None, None, None),
 (174, '2020-04-21', None, None, None, None, None, None),
 (175, '2020-04-22', None, None, None, None, None, None),
 (176, '2020-04-23', None, None, None, None, None, None),
 (177, '2020-04-24', None, None, None, None, None, None),
 (178, '2020-04-27', None, None, None, None, None, None),
 (179, '2020-04-28', None, None, None, None, None, None),
 (180, '2020-04-29', None, None, None, None, None, None),
 (181, '2020-04-30', None, None, None, None, None, None),
 (182, '2020-05-01', None, None, None, None, None, None),
 (183, '2020-05-04', None, None, None, None, None, None),
 (184, '2020-05-05', None, None, None, None, None, None),
 (185, '2020-05-06', None, None, None, None, None, None),
 (186, '2020-05-07', None, None, None, None, None, None),
 (187, '2020-05-08', None, None, None, None, None, None),
 (188, '2020-05-11', None, None, None, None, None, None),
 (189, '2020-05-12', None, None, None, None, None, None),
 (190, '2020-05-13', None, None, None, None, None, None),
 (191, '2020-05-14', None, None, None, None, None, None),
 (192, '2020-05-15', None, None, None, None, None, None),
 (193, '2020-05-18', None, None, None, None, None, None),
 (194, '2020-05-19', None, None, None, None, None, None),
 (195, '2020-05-20', None, None, None, None, None, None),
 (196, '2020-05-21', None, None, None, None, None, None),
 (197, '2020-05-22', None, None, None, None, None, None),
 (198, '2020-05-26', None, None, None, None, None, None),
 (199, '2020-05-27', None, None, None, None, None, None),
 (200, '2020-05-28', None, None, None, None, None, None),
 (201, '2020-05-29', None, None, None, None, None, None),
 (202, '2020-06-01', None, None, None, None, None, None),
 (203, '2020-06-02', None, None, None, None, None, None),
 (204, '2020-06-03', None, None, None, None, None, None),
 (205, '2020-06-04', None, None, None, None, None, None),
 (206, '2020-06-05', None, None, None, None, None, None),
 (207, '2020-06-08', None, None, None, None, None, None),
 (208, '2020-06-09', None, None, None, None, None, None),
 (209, '2020-06-10', None, None, None, None, None, None),
 (210, '2020-06-11', None, None, None, None, None, None),
 (211, '2020-06-12', None, None, None, None, None, None),
 (212, '2020-06-15', None, None, None, None, None, None),
 (213, '2020-06-16', None, None, None, None, None, None),
 (214, '2020-06-17', None, None, None, None, None, None),
 (215, '2020-06-18', None, None, None, None, None, None),
 (216, '2020-06-19', None, None, None, None, None, None),
 (217, '2020-06-22', None, None, None, None, None, None),
 (218, '2020-06-23', None, None, None, None, None, None),
 (219, '2020-06-24', None, None, None, None, None, None),
 (220, '2020-06-25', None, None, None, None, None, None),
 (221, '2020-06-26', None, None, None, None, None, None),
 (222, '2020-06-29', None, None, None, None, None, None),
 (223, '2020-06-30', None, None, None, None, None, None),
 (224, '2020-07-01', None, None, None, None, None, None),
 (225, '2020-07-02', None, None, None, None, None, None),
 (226, '2020-07-06', None, None, None, None, None, None),

In [17]:
INST.to_excel("INST.xls")

pd.read_excel("INST.xls")

     Unnamed: 0        Date       Open  ...      Close  Adj Close    Volume
0             0  2019-08-12  40.770000  ...  39.730000  39.730000  652415.0
1             1  2019-08-13  39.500000  ...  40.180000  40.180000  420547.0
2             2  2019-08-14  39.500000  ...  40.110001  40.110001  345393.0
3             3  2019-08-15  40.200001  ...  41.080002  41.080002  375171.0
4             4  2019-08-16  41.250000  ...  41.830002  41.830002  289584.0
..          ...         ...        ...  ...        ...        ...       ...
248         248  2020-08-05        NaN  ...        NaN        NaN       NaN
249         249  2020-08-06        NaN  ...        NaN        NaN       NaN
250         250  2020-08-07        NaN  ...        NaN        NaN       NaN
251         251  2020-08-10        NaN  ...        NaN        NaN       NaN
252         252  2020-08-11        NaN  ...        NaN        NaN       NaN

[253 rows x 8 columns]