In [ ]:
!pip install --upgrade pip

In [11]:
!pip install yfinance

Requirement already satisfied: yfinance in /opt/conda/lib/python3.7/site-packages (0.1.55)
Requirement already satisfied: lxml>=4.5.1 in /opt/conda/lib/python3.7/site-packages (from yfinance) (4.6.2)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.7/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /opt/conda/lib/python3.7/site-packages (from yfinance) (2.25.1)
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.7/site-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /opt/conda/lib/python3.7/site-packages (from yfinance) (1.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.26.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2020.12.5)
WARNING: You are using pip version 21.0; however, version 21.0.1 is available.
You should consider upgrading via the '/opt/conda/bin/python3.7 -m pip install --upgrade pip' command.

In [12]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import yfinance

In [13]:
TSLA = "TSLA"

In [14]:
TSLA = yfinance.download(TSLA)

TSLA

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,4.778000,93831500
2010-06-30,5.158000,6.084000,4.660000,4.766000,4.766000,85935500
2010-07-01,5.000000,5.184000,4.054000,4.392000,4.392000,41094000
2010-07-02,4.600000,4.620000,3.742000,3.840000,3.840000,25699000
2010-07-06,4.000000,4.000000,3.166000,3.222000,3.222000,34334500
...,...,...,...,...,...,...
2021-02-03,877.020020,878.080017,853.059998,854.690002,854.690002,18343500
2021-02-04,855.000000,856.500000,833.419983,849.989990,849.989990,15812700
2021-02-05,845.000000,864.770020,838.969971,852.229980,852.229980,18524800
2021-02-08,869.669983,877.770020,854.750000,863.419983,863.419983,20161700
2021-02-09,855.119995,859.799988,841.750000,849.460022,849.460022,15157651

In [15]:
TSLA.head(21)

             Open   High    Low  Close  Adj Close    Volume
Date
2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500
2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500
2010-07-07  3.280  3.326  2.996  3.160      3.160  34608500
2010-07-08  3.228  3.504  3.114  3.492      3.492  38557000
2010-07-09  3.516  3.580  3.310  3.480      3.480  20253000
2010-07-12  3.590  3.614  3.400  3.410      3.410  11012500
2010-07-13  3.478  3.728  3.380  3.628      3.628  13400500
2010-07-14  3.588  4.030  3.552  3.968      3.968  20976000
2010-07-15  3.988  4.300  3.800  3.978      3.978  18699000
2010-07-16  4.140  4.260  4.010  4.128      4.128  13106500
2010-07-19  4.274  4.450  4.184  4.382      4.382  12432500
2010-07-20  4.370  4.370  4.010  4.060      4.060   9126500
2010-07-21  4.132  4.180  3.900  4.044      4.044   6262500
2010-07-22  4.100  4.250  4.074  4.200      4.200   4789000
2010-07-23  4.238  4.312  4.212  4.258      4.258   3268000
2010-07-26  4.300  4.300  4.060  4.190      4.190   4611000
2010-07-27  4.182  4.236  4.052  4.110      4.110   3098500
2010-07-28  4.110  4.180  4.102  4.144      4.144   2336000

In [16]:
TSLA.tail(21)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-11,849.400024,854.429993,803.619995,811.190002,811.190002,59554100
2021-01-12,831.000000,868.000000,827.340027,849.440002,849.440002,46270700
2021-01-13,852.760010,860.469971,832.000000,854.409973,854.409973,33312500
2021-01-14,843.390015,863.000000,838.750000,845.000000,845.000000,31266300
2021-01-15,852.000000,859.900024,819.099976,826.159973,826.159973,38647900
2021-01-19,837.799988,850.000000,833.000000,844.549988,844.549988,25367000
2021-01-20,858.739990,859.500000,837.280029,850.450012,850.450012,25665900
2021-01-21,855.000000,855.719971,841.419983,844.989990,844.989990,20598100
2021-01-22,834.309998,848.000000,828.619995,846.640015,846.640015,19977100
2021-01-25,855.000000,900.400024,838.820007,880.799988,880.799988,41173400
2021-01-26,891.380005,895.900024,871.599976,883.090027,883.090027,23131600
2021-01-27,870.349976,891.500000,858.659973,864.159973,864.159973,27334000
2021-01-28,820.000000,848.000000,801.000000,835.429993,835.429993,26378000
2021-01-29,830.000000,842.409973,780.099976,793.530029,793.530029,34990800
2021-02-01,814.289978,842.000000,795.559998,839.809998,839.809998,25391400
2021-02-02,844.679993,880.500000,842.200012,872.789978,872.789978,24346200
2021-02-03,877.020020,878.080017,853.059998,854.690002,854.690002,18343500
2021-02-04,855.000000,856.500000,833.419983,849.989990,849.989990,15812700
2021-02-05,845.000000,864.770020,838.969971,852.229980,852.229980,18524800
2021-02-08,869.669983,877.770020,854.750000,863.419983,863.419983,20161700
2021-02-09,855.119995,859.799988,841.750000,849.460022,849.460022,15157651

In [17]:
TSLA.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2673.000000,2673.000000,2673.000000,2673.000000,2673.000000,2.673000e+03
mean,68.273951,69.781294,66.732359,68.384693,68.384693,3.178020e+07
std,119.809938,122.726736,116.885710,120.258051,120.258051,2.917827e+07
min,3.228000,3.326000,2.996000,3.160000,3.160000,5.925000e+05
25%,7.570000,7.688000,7.406000,7.570000,7.570000,1.127250e+07
50%,44.622002,45.430000,43.903999,44.608002,44.608002,2.505200e+07
75%,61.268002,62.200001,60.090000,61.330002,61.330002,4.109400e+07
max,891.380005,900.400024,871.599976,883.090027,883.090027,3.046940e+08

In [18]:
TSLA.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2673 entries, 2010-06-29 to 2021-02-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2673 non-null   float64
 1   High       2673 non-null   float64
 2   Low        2673 non-null   float64
 3   Close      2673 non-null   float64
 4   Adj Close  2673 non-null   float64
 5   Volume     2673 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 146.2 KB

In [19]:
TSLA.dtypes

NameError: name 'employee' is not defined

In [ ]:
tips = sns.load_dataset("tips")
sns.relplot(x="total_bill", y="tip", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker", style="smoker",
            data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker", style="time", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="size", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="size", palette="ch:r=-.5,l=.75", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", size="size", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", size="size", sizes=(15, 200), data=tips);
df = pd.DataFrame(dict(time=np.arange(500),
                       value=np.random.randn(500).cumsum()))
g = sns.relplot(x="time", y="value", kind="line", data=df)
g.fig.autofmt_xdate()

In [ ]:
df = pd.DataFrame(np.random.randn(500, 2).cumsum(axis=0), columns=["x", "y"])
sns.relplot(x="x", y="y", sort=False, kind="line", data=df);
fmri = sns.load_dataset("fmri")
sns.relplot(x="timepoint", y="signal", kind="line", data=fmri);
sns.relplot(x="timepoint", y="signal", ci=None, kind="line", data=fmri);
sns.relplot(x="timepoint", y="signal", kind="line", ci="sd", data=fmri);
sns.relplot(x="timepoint", y="signal", estimator=None, kind="line", data=fmri);
sns.relplot(x="timepoint", y="signal", hue="event", kind="line", data=fmri);
sns.relplot(x="timepoint", y="signal", hue="region", style="event",
            kind="line", data=fmri);
sns.relplot(x="timepoint", y="signal", hue="region", style="event",
            dashes=False, markers=True, kind="line", data=fmri);
sns.relplot(x="timepoint", y="signal", hue="event", style="event",
            kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="region",
            units="subject", estimator=None,
            kind="line", data=fmri.query("event == 'stim'"));
dots = sns.load_dataset("dots").query("align == 'dots'")
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            kind="line", data=dots);
palette = sns.cubehelix_palette(light=.8, n_colors=6)
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            palette=palette,
            kind="line", data=dots);

In [ ]:
from matplotlib.colors import LogNorm
palette = sns.cubehelix_palette(light=.7, n_colors=6)
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            hue_norm=LogNorm(),
            kind="line",
            data=dots.query("coherence > 0"));
sns.relplot(x="time", y="firing_rate",
            size="coherence", style="choice",
            kind="line", data=dots);
sns.relplot(x="time", y="firing_rate",
           hue="coherence", size="choice",
           palette=palette,
           kind="line", data=dots);
df = pd.DataFrame(dict(time=pd.date_range("2017-1-1", periods=500),
                       value=np.random.randn(500).cumsum()))
g = sns.relplot(x="time", y="value", kind="line", data=df)
g.fig.autofmt_xdate()

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker",
            col="time", data=tips);
sns.relplot(x="timepoint", y="signal", hue="subject",
            col="region", row="event", height=3,
            kind="line", estimator=None, data=fmri);
sns.relplot(x="timepoint", y="signal", hue="event", style="event",
            col="subject", col_wrap=5,
            height=3, aspect=.75, linewidth=2.5,
            kind="line", data=fmri.query("region == 'frontal'"));